extends layout

block content
  h1= title
  p Welcome to #{title}. Please enjoy your stay.
  button(type="button", class="btn btn-secondary", onClick="update()")
    b Press Me

  div(id="target") Display 

  script. 
    let client_count = 0
    function update()
    {
      client_count += 1
      document.getElementById("target").innerHTML = `${client_count}`
    }